@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Eurostile Extended';
  src: url('fonts/EurostileExtended-Black.eot');
  src: url('fonts/EurostileExtended-Black.eot?#iefix') format('embedded-opentype'),
      url('fonts/EurostileExtended-Black.woff2') format('woff2'),
      url('fonts/EurostileExtended-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Digital-7';
  src: url('fonts/Digital-7.eot');
  src: url('fonts/Digital-7.eot?#iefix') format('embedded-opentype'),
      url('fonts/Digital-7.woff2') format('woff2'),
      url('fonts/Digital-7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eurostile Extended';
  src: url('fonts/EurostileExtended-Roman.eot');
  src: url('fonts/EurostileExtended-Roman.eot?#iefix') format('embedded-opentype'),
      url('fonts/EurostileExtended-Roman.woff2') format('woff2'),
      url('fonts/EurostileExtended-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eurostile Extended';
  src: url('fonts/EurostileExtended-Black.eot');
  src: url('fonts/EurostileExtended-Black.eot?#iefix') format('embedded-opentype'),
      url('fonts/EurostileExtended-Black.woff2') format('woff2'),
      url('fonts/EurostileExtended-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Eurostile Extended', sans-serif;
}

body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(244,246,255,1) 35%, rgba(216,248,255,1) 100%);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 30%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgb(156, 225, 255);
    background: linear-gradient(180deg, rgb(0, 49, 70) 0%, rgb(0, 34, 53) 39%, rgb(0, 24, 32) 69%);
    box-shadow: 0px 0px 125px -32px rgba(0,0,0,0.22);
    background-color: #333;
    background-image: linear-gradient(90deg, #e6ebee, #f0f0f0);
    box-shadow: 0px 0px 0px 0px #b1b8c0 inset, 0px -10px 10px 10px #b1b8c0 inset, 0px 1px 0px 2px #b1b8c0 inset, 0 55px 10px -25px rgba(0,0,0,0.1), 0 65px 30px -10px rgba(0,0,0,0.5);
}

.out{
  height: 92vh;
  width: 27%;
  border-radius: 5px;
  position: absolute;
  background-color: #333;
  z-index: -1;
}

.column{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo{
  font-family: 'Eurostile Extended';
  font-weight: bold;
}

.model{
  font-family: 'CMU Typewriter Text';
  font-style: italic;
  font-size: 0.8rem;
  font-weight: bold;
}

.header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: #373737;
}

.screen{
    width: 85%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 4vh;
    /* box-shadow: inset 2px 2px 15px -6px rgba(0,0,0,0.75); */
    margin: 2vh;
    font-size: 2.5rem;
    font-weight: bold;
    background: #99a883;
    box-shadow: 0 5px 20px 0.05px #130f0a inset, 5px 0 10px -4px #130f0a inset, -0.5px 0 3px 1px #130f0a inset, 0 0 0 2px rgba(0,0,0,1), 0 65px 50px -10px rgba(0,0,0,-0.05);
    color: #e8e8e8;
    /* border: 3px solid rgb(0, 0, 0); */
    font-family: 'Digital-7', sans-serif;
    z-index: 2;
}

.buttons{
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3.5vh;
}

button {
    background: #e2e3e5;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 2px solid rgb(237, 251, 255);
    border-radius: 20%;
    box-shadow: 0.1em 0.1em;
    height: 10vh;
    width: 11vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

  .button--operator{
    background: #f8fdff;
    border: 2px solid rgb(237, 251, 255);
  }

  .button--add{
    height: 120px;
    border-radius: 2vh;
  }
  
  .button--equal{
    background: #f8fdff;
    border: 2px solid rgb(237, 251, 255);
  }

  .button--ac{
    background: #d19b9b;
    border: 2px solid #e1acac;
    color: #000000; 
  }

  .button--percent, .button--sign{
    background: #f8fdff;
    border: 2px solid rgb(237, 251, 255);
  }

  .row:last-child{
    margin-bottom: 2vh;
  }

  .screen__output{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 2vh; */
    padding:0;
    align-items: flex-end;
    font-family: 'Digital-7', sans-serif;
  }

  /* .screen__output--current{
        font-size: 1.2rem;
        font-weight: 500;
        color: #e8e8e8;
        margin:0;
        padding:0;
        height: 5vh;
        font-family: 'digital-7', sans-serif;
  }

    .screen__output--previous{
        font-size: 2.5rem;
        font-weight: 500;
        color: #e8e8e8;
        margin:0;
        padding:0;
        height:10vh;
        font-family: 'digital-7', sans-serif;
    } */

  @media screen and (max-width: 810px){
    .container{
        width: 80%;
    }
    .out{
      width: 75%;
    }
  }

    @media screen and (max-width: 500px){
        .container{
            width: 90%;
        }
        .out{
          width: 80%;
        }
    }

    @media screen and (min-width: 811px){
        .container{
            width: 50%;
        }
        .out{
          width: 45%;
        }
    }

    @media screen and (min-width: 1200px){
        .container{
            width: 30%;
        }
        .out{
          width: 27%;
        }
    }